@font-face {
  font-family: rammstein;
  src: url(../font/rammstein.ttf);
}
@font-face {
  font-family: gothamexp;
  src: url(../font/gothamknightsexpand.ttf);
}
@font-face {
  font-family: rocks;
  src: url(../font/chineserocksrg.otf);
}

body,
html {
  height: 100%;
  text-decoration-line: none;
  width: 100%;
  margin: 0;
}

#topiconcont {
  display: flex;
  justify-content: center;
}

.topicon {
  position: fixed;
  top: 1%;
  z-index: 1000;
  text-align: center;
}
.topicon a {
  font-family: rammstein;
  text-align: center;
  color: white;
  font-size: 4vw;
  width: fit-content;
  text-decoration-line: none;
}
#block {
  margin: 0;
  width: 100%;
  height: 100%;
  position: sticky;
}

.nav {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  top: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  justify-content: center;
  align-content: center;
}

.nav a {
  font-family: gothamexp;
  font-size: 3vw;
  color: rgb(255, 0, 0);
  padding: 0 3% 0 3%;
  width: fit-content;
  text-align: center;
  text-decoration-line: none;
}

.nav a:hover {
  background-color: rgba(34, 34, 34, 0.801);
}

.contenedor {
  color: white;
  padding: 1%;
  background-color: #000000;
  opacity: 1;
  background-size: 12px 12px;
  background-image: repeating-linear-gradient(
    to right,
    #160606,
    #160606 0.6000000000000001px,
    #000000 0.6000000000000001px,
    #000000
  );
}

p {
  font-family: "Montserrat", sans-serif;
  margin-top: 0;
  margin-bottom: 20px;
}
.head {
  text-align: center;
  position: relative;
}

.content {
  line-height: 0;
  word-spacing: 0.1em;
  display: inline-block;
  margin: 30px 2% 0 2%;
}

.collumn {
  font-size: 14px;
  line-height: 20px;
  width: 17.5%;
  display: inline-block;
  padding: 0 1% 0 1%;
  vertical-align: top;
  margin-bottom: 50px;
  transition: all 0.7s;
}
.collumn {
  border-left: 1px solid #2f2f2f;
  border-right: 1px solid #2f2f2f;
}
.collumn .headline {
  text-align: center;
  line-height: normal;
  display: block;
  margin: 0 auto;
}

.collumn .headline.hl3 {
  font-family: rocks;
  font-weight: 400;
  font-size: 36px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}
.collumn .headline.hl4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}
.collumn .headline.hl4:before {
  border-top: 1px solid #2f2f2f;
  content: "";
  width: 100px;
  height: 7px;
  display: block;
  margin: 0 auto;
}
.collumn .headline.hl4:after {
  border-bottom: 1px solid #2f2f2f;
  content: "";
  width: 100px;
  height: 10px;
  display: block;
  margin: 0 auto;
}

/*________________________________________________________________________________________________________________________________*/
/*MEDIAQUERIES*/

@media only all and (max-width: 1200px) {
  .collumn {
    width: 31%;
  }
}
@media only all and (max-width: 900px) {
  .collumn {
    width: 47%;
  }
}
@media only all and (max-width: 600px) {
  .collumn {
    width: 100%;
  }
  .collumn + .collumn {
    border-left: none;
    border-bottom: 1px solid #2f2f2f;
  }
  header {
    max-width: 320px;
    font-size: 60px;
    line-height: 54px;
    overflow: hidden;
  }
}
