@font-face {
    font-family:rammstein ;
    src: url(font/rammstein.ttf);
}

*{
    color: white
}

.ContenedorPrincipal {
    width: 100%;            /* Con estas 2 lineas definimos de ancho hasta donde */
    max-width: 1200px;
    max-height: 1086px;      /* se va a mostar contenido */
    gap: 30px;              /* Distancia entre elementos en general */
    margin: 30px auto;      /* Centra de manera horizontal los elementos en general */
    display: grid;
    grid-template-columns: 1fr 3fr; /* Una linea chica para el Aside + Publicidad y buen espacio para el main */
    grid-template-rows: 1fr 2fr 2fr 1fr 0.5fr; /* Header fino, Main grande, articulos, footer */
    grid-template-areas:"navegador navegador"
    "aside main"
    "publicidad main"
    "articulo articulo"
    "pie pie";
    background: url(img/Back-ground.png) pink;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.ContenedorPrincipal > .navegador,
.ContenedorPrincipal > .FlexNav,
.ContenedorPrincipal > .main,
.ContenedorPrincipal > .aside,
.ContenedorPrincipal > .publicidad,
.ContenedorPrincipal > .articulo,
.ContenedorPrincipal > .pie{
    padding: 20px;

}

.ContenedorPrincipal .navegador{
    background-color: grey;
    position: relative;
    grid-area: navegador;
    display: grid;
}

.ContenedorPrincipal .FlexNav{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 10%;
}

.FlexNav > a{
    font-family: rammstein;
    color: rgb(183, 181, 46);
    margin: 5px;
}

.ContenedorPrincipal .main{
    position: relative;
    grid-area: main;
    display: grid;
}
.ContenedorPrincipal .pie{
    position: relative;
    grid-area: pie;
    display: grid;
}
.ContenedorPrincipal .aside{
    position: relative;
    grid-area: aside;
    display: grid;
}
.ContenedorPrincipal .publicidad{
    position: relative;
    grid-area: publicidad;
    display: grid;
}
.ContenedorPrincipal .articulo{
    position: relative;
    grid-area: articulo;
    display: grid;
}
    